<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Facturar</servlet-name>
        <servlet-class>Servlets.Facturar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trylogin</servlet-name>
        <servlet-class>Servlets.trylogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrar</servlet-name>
        <servlet-class>Servlets.registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarDetalle</servlet-name>
        <servlet-class>Servlets.EliminarDetalle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formalizar</servlet-name>
        <servlet-class>Servlets.formalizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Servlets.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCliente</servlet-name>
        <servlet-class>Servlets.EliminarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearModificarCliente</servlet-name>
        <servlet-class>Servlets.crearModificarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearModificarProducto</servlet-name>
        <servlet-class>Servlets.crearModificarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProducto</servlet-name>
        <servlet-class>Servlets.EliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarFactura</servlet-name>
        <servlet-class>Servlets.EliminarFactura</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Facturar</servlet-name>
        <url-pattern>/Facturar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trylogin</servlet-name>
        <url-pattern>/trylogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrar</servlet-name>
        <url-pattern>/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarDetalle</servlet-name>
        <url-pattern>/EliminarDetalle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formalizar</servlet-name>
        <url-pattern>/formalizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCliente</servlet-name>
        <url-pattern>/EliminarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearModificarCliente</servlet-name>
        <url-pattern>/crearModificarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearModificarProducto</servlet-name>
        <url-pattern>/crearModificarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProducto</servlet-name>
        <url-pattern>/EliminarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarFactura</servlet-name>
        <url-pattern>/EliminarFactura</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
